html {
  font-size: 62.5%;
}

body {
  font-weight: 300;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  font-family: "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.block {
  width: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}
