.navigation {
  background: $primary-color-dark;
  box-shadow: 0 0 2rem rgba(black, $alpha: 0.3);
  width: 100%;
}

.nav {
  font-size: 1.5rem;
  list-style: none;

  &__item {
    display: inline-block;
    align-items: center;
    padding: 1.7rem 2rem;

    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;

      &:hover,
      & .active {
        color: black;
        cursor: pointer;
      }
    }

    & svg {
      height: 3rem;
      width: 3rem;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    & img {
      height: 3rem;
      width: 3rem;
      margin-left: 1rem;
    }

    &--right {
      display: flex;
      align-items: center;
      float: right;
      padding-right: 0;
    }

    &:last-child {
      color: white;
      & svg {
        margin: 0 1.5rem;
      }
    }
  }
}
